In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import re
pd.set_option('max_colwidth', 400)

In [3]:
# Read the data into a Pandas DataFrame
fortune500_df = pd.read_csv('./Resources/kaggle-fortune500-1996-2023.csv')
pd.set_option('display.max_columns',55)
fortune500_df .head()

C:\Users\tyler\AppData\Local\Temp\ipykernel_15924\261098729.py:2: DtypeWarning: Columns (7,9,10,11,12,13,14,15,16,17,18,19,20,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,47,48,49,50,51,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  fortune500_df = pd.read_csv('./Resources/kaggle-fortune500-1996-2023.csv')

,Name,Rank,Industry,Headquarters State,Revenues,year,Headquarters City,Revenue Percent Change,Profits,Profits Percent Change,Assets,Total Shareholder Equity,"Market Value (on March 29, 2013)",Profit Percent Sales,Profit Percent Assets,Profit Percent Shareholder Equity,Total Assets,"Market Value (on March 31, 2014)",Sales,Stockholders' Equity,Profit as a % of Sales,Profit as a % of Assets,Profit as a % of Shareholder Equity,Gained in Rank,Dropped in Rank,Newcomer,Profitable,Founder is CEO,Foreign Born CEO,Female CEO,Growth in Jobs,Sector,Revenues ($M),Profits ($M),Assets ($M),Employees,"Market Value (as of March 31, 2015)",Newcomer to the Fortune 500,Global 500,Best Companies,World's Most Admired Companies,Change the World,Fastest Growing Companies,"Market Value — as of March 31, 2016 ($M)","Market Value — as of March 31, 2017 ($M)",Change in Rank (Full 1000),Change in Rank (500 only),"Market Value — as of March 29, 2018 ($M)","Market Value — as of March 29, 2019 ($M)","Market Value — as of March 31, 2020 ($M)",Measure Up,"Market Value — as of March 31, 2021 ($M)",Measure Up Rank,"Market Value — as of March 31, 2022 ($M)","Market Value — as of March 31, 2023 ($M)"
0,General Motors Corporation,1,Motor Vehicles and Parts,MI,"16,882,860",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ford Motor Company,2,Motor Vehicles and Parts,MI,"13,713,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Exxon Corporation,3,Petroleum Refining,TX,"11,000,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wal-Mart Stores, Inc.",4,General Merchandisers,AR,"9,362,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T Corp.,5,Telecommunications,NY,"7,960,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Display columns
fortune500_df.columns

Index(['Name', 'Rank', 'Industry', 'Headquarters State', 'Revenues', 'year',
       'Headquarters City', 'Revenue Percent Change', 'Profits',
       'Profits Percent Change', 'Assets', 'Total Shareholder Equity',
       'Market Value (on March 29, 2013)', 'Profit Percent Sales',
       'Profit Percent Assets', 'Profit Percent Shareholder Equity',
       'Total Assets', 'Market Value (on March 31, 2014)', 'Sales',
       'Stockholders' Equity', 'Profit as a % of Sales',
       'Profit as a % of Assets', 'Profit as a % of Shareholder Equity',
       'Gained in Rank', 'Dropped in Rank', 'Newcomer', 'Profitable',
       'Founder is CEO', 'Foreign Born CEO', 'Female CEO', 'Growth in Jobs',
       'Sector', 'Revenues ($M)', 'Profits ($M)', 'Assets ($M)', 'Employees',
       'Market Value (as of March 31, 2015)', 'Newcomer to the Fortune 500',
       'Global 500', 'Best Companies', 'World's Most Admired Companies',
       'Change the World', 'Fastest Growing Companies',
       'Market Value — as of March 31, 2016 ($M)',
       'Market Value — as of March 31, 2017 ($M)',
       'Change in Rank (Full 1000)', 'Change in Rank (500 only)',
       'Market Value — as of March 29, 2018 ($M)',
       'Market Value — as of March 29, 2019 ($M)',
       'Market Value — as of March 31, 2020 ($M)', 'Measure Up',
       'Market Value — as of March 31, 2021 ($M)', 'Measure Up Rank',
       'Market Value — as of March 31, 2022 ($M)',
       'Market Value — as of March 31, 2023 ($M)'],
      dtype='object')

In [5]:
# Filter the DF
filtered_df = fortune500_df[['Name', 'Rank', 'Industry', 'Headquarters State', 'Revenues', 'year',
       'Headquarters City', 'Revenue Percent Change', 'Profits',
       'Profits Percent Change','Profit Percent Sales','Sales','Profit as a % of Sales','Gained in Rank', 
       'Dropped in Rank', 'Newcomer', 'Profitable','Growth in Jobs',
       'Sector', 'Revenues ($M)', 'Profits ($M)','Employees', 
       'Global 500','Change in Rank (Full 1000)','Change in Rank (500 only)']]

filtered_df

,Name,Rank,Industry,Headquarters State,Revenues,year,Headquarters City,Revenue Percent Change,Profits,Profits Percent Change,Profit Percent Sales,Sales,Profit as a % of Sales,Gained in Rank,Dropped in Rank,Newcomer,Profitable,Growth in Jobs,Sector,Revenues ($M),Profits ($M),Employees,Global 500,Change in Rank (Full 1000),Change in Rank (500 only)
0,General Motors Corporation,1,Motor Vehicles and Parts,MI,"16,882,860",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ford Motor Company,2,Motor Vehicles and Parts,MI,"13,713,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Exxon Corporation,3,Petroleum Refining,TX,"11,000,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wal-Mart Stores, Inc.",4,General Merchandisers,AR,"9,362,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T Corp.,5,Telecommunications,NY,"7,960,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27875,TTEC Holdings,996,Information Technology Services,CO,NaN,2023,Englewood,7.5%,NaN,-26.8%,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Technology,"$2,444",$103,"69,400",no,-33.0,NaN
27876,ProFrac Holding,997,"Oil and Gas Equipment, Services",TX,NaN,2023,Willow Park,215.7%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Energy,"$2,426",$92,"3,664",no,NaN,NaN
27877,Summit Materials,998,"Building Materials, Glass",CO,NaN,2023,Denver,0.1%,NaN,78.8%,NaN,NaN,NaN,NaN,NaN,NaN,yes,no,Materials,"$2,413",$272,"4,800",no,-61.0,NaN
27878,Teladoc Health,999,Health Care: Pharmacy and Other Services,NY,NaN,2023,Purchase,18.4%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,yes,Health Care,"$2,407","$-13,660","5,208",no,NaN,NaN
27879,Alliance Resource Partners,1000,"Mining, Crude-Oil Production",OK,NaN,2023,Tulsa,53.3%,NaN,224%,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Energy,"$2,407",$577,"3,371",no,NaN,NaN

In [6]:
# Rename the columns to keep the convention consistent
col_rename_df = filtered_df.rename(columns = { 'Headquarters State':'Headquarters_State','year':'Year',
       'Headquarters City':'Headquarters_City','Revenue Percent Change':'Revenue_Percent_Change',
       'Profits Percent Change':'Profits_Percent_Change','Profit Percent Sales':'Profit_Percent_Sales','Profit as a % of Sales':'Profit_as_a_%_of_Sales','Gained in Rank':'Gained_in_Rank', 
       'Dropped in Rank':'Dropped_in_Rank','Growth in Jobs':'Growth_in_Jobs',
       'Revenues ($M)':'Revenues_($M)', 'Profits ($M)':'Profits_($M)',
       'Global 500':'Global_500','Change in Rank (Full 1000)':'Change_in_Rank_(Full 1000)','Change in Rank (500 only)':'Change_in_Rank_(500 only)'})

col_rename_df

,Name,Rank,Industry,Headquarters_State,Revenues,Year,Headquarters_City,Revenue_Percent_Change,Profits,Profits_Percent_Change,Profit_Percent_Sales,Sales,Profit_as_a_%_of_Sales,Gained_in_Rank,Dropped_in_Rank,Newcomer,Profitable,Growth_in_Jobs,Sector,Revenues_($M),Profits_($M),Employees,Global_500,Change_in_Rank_(Full 1000),Change_in_Rank_(500 only)
0,General Motors Corporation,1,Motor Vehicles and Parts,MI,"16,882,860",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ford Motor Company,2,Motor Vehicles and Parts,MI,"13,713,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Exxon Corporation,3,Petroleum Refining,TX,"11,000,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wal-Mart Stores, Inc.",4,General Merchandisers,AR,"9,362,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T Corp.,5,Telecommunications,NY,"7,960,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27875,TTEC Holdings,996,Information Technology Services,CO,NaN,2023,Englewood,7.5%,NaN,-26.8%,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Technology,"$2,444",$103,"69,400",no,-33.0,NaN
27876,ProFrac Holding,997,"Oil and Gas Equipment, Services",TX,NaN,2023,Willow Park,215.7%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Energy,"$2,426",$92,"3,664",no,NaN,NaN
27877,Summit Materials,998,"Building Materials, Glass",CO,NaN,2023,Denver,0.1%,NaN,78.8%,NaN,NaN,NaN,NaN,NaN,NaN,yes,no,Materials,"$2,413",$272,"4,800",no,-61.0,NaN
27878,Teladoc Health,999,Health Care: Pharmacy and Other Services,NY,NaN,2023,Purchase,18.4%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,yes,Health Care,"$2,407","$-13,660","5,208",no,NaN,NaN
27879,Alliance Resource Partners,1000,"Mining, Crude-Oil Production",OK,NaN,2023,Tulsa,53.3%,NaN,224%,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Energy,"$2,407",$577,"3,371",no,NaN,NaN

In [7]:
# Check the data types of the renamed columns
col_rename_df.dtypes

Name                           object
Rank                            int64
Industry                       object
Headquarters_State             object
Revenues                       object
Year                            int64
Headquarters_City              object
Revenue_Percent_Change         object
Profits                       float64
Profits_Percent_Change         object
Profit_Percent_Sales           object
Sales                          object
Profit_as_a_%_of_Sales         object
Gained_in_Rank                 object
Dropped_in_Rank                object
Newcomer                       object
Profitable                     object
Growth_in_Jobs                 object
Sector                         object
Revenues_($M)                  object
Profits_($M)                   object
Employees                      object
Global_500                     object
Change_in_Rank_(Full 1000)    float64
Change_in_Rank_(500 only)     float64
dtype: object

REVENUE SECTION

In [8]:
#Only get columns needed for revenue data
revenue_df = col_rename_df[["Name","Rank","Industry","Revenues","Year","Sector"]]
revenue_df

,Name,Rank,Industry,Revenues,Year,Sector
0,General Motors Corporation,1,Motor Vehicles and Parts,"16,882,860",1996,NaN
1,Ford Motor Company,2,Motor Vehicles and Parts,"13,713,700",1996,NaN
2,Exxon Corporation,3,Petroleum Refining,"11,000,900",1996,NaN
3,"Wal-Mart Stores, Inc.",4,General Merchandisers,"9,362,700",1996,NaN
4,AT&T Corp.,5,Telecommunications,"7,960,900",1996,NaN
...,...,...,...,...,...,...
27875,TTEC Holdings,996,Information Technology Services,NaN,2023,Technology
27876,ProFrac Holding,997,"Oil and Gas Equipment, Services",NaN,2023,Energy
27877,Summit Materials,998,"Building Materials, Glass",NaN,2023,Materials
27878,Teladoc Health,999,Health Care: Pharmacy and Other Services,NaN,2023,Health Care
27879,Alliance Resource Partners,1000,"Mining, Crude-Oil Production",NaN,2023,Energy

In [9]:
#Only fortune 500 data
revenue_500_df = revenue_df.loc[revenue_df["Rank"] <= 500]
revenue_500_df.reset_index(inplace=True, drop=True)
revenue_500_df

,Name,Rank,Industry,Revenues,Year,Sector
0,General Motors Corporation,1,Motor Vehicles and Parts,"16,882,860",1996,NaN
1,Ford Motor Company,2,Motor Vehicles and Parts,"13,713,700",1996,NaN
2,Exxon Corporation,3,Petroleum Refining,"11,000,900",1996,NaN
3,"Wal-Mart Stores, Inc.",4,General Merchandisers,"9,362,700",1996,NaN
4,AT&T Corp.,5,Telecommunications,"7,960,900",1996,NaN
...,...,...,...,...,...,...
13935,KKR,496,Securities,NaN,2023,Financials
13936,Equinix,497,Real estate,NaN,2023,Financials
13937,Sonoco Products,498,"Packaging, Containers",NaN,2023,Materials
13938,ServiceNow,499,Computer Software,NaN,2023,Technology
13939,Robert Half International,500,Temporary Help,NaN,2023,Business Services

In [10]:
revenue_500_df["Industry"].unique()

array(['Motor Vehicles and Parts', 'Petroleum Refining',
       'General Merchandisers', 'Telecommunications',
       'Computers, Office Equipment', 'Electronics, Electrical Equip.',
       'Tobacco', 'Insurance: Life, Health (Mutual)',
       'Insurance: Property and Casualty (Mutual)', 'Chemicals',
       'Soaps, Cosmetics', 'Commercial Banks', 'Food Services',
       'Insurance: Property and Casualty (Stock)', 'Food',
       'Food and Drug Stores', 'Aerospace', 'Diversified Financials',
       'X Brokerage', 'Mail, Package, and Freight Delivery',
       'Forest and Paper Products',
       'Scientific,Photographic and Control Equipment',
       'Insurance: Life, Health (stock)', 'Pharmaceuticals',
       'Specialty Retailers', 'Beverages', 'Health Care', 'Wholesalers',
       'Airlines', 'Industrial and Farm Equipment',
       'Rubber and Plastic Products', 'Metals', 'Entertainment',
       'Waste Management', 'Railroads', 'Utilities: Gas and Electric',
       'Engineering, Construction', 'Pipelines',
       'Hotels, Casinos, Resorts', 'Metal Products', 'Apparel',
       'Publishing, Printing', 'Computer And Data Services',
       'Temporary Help', 'Building Materials, Glass', 'Trucking',
       'Automotive Retailing, Services', 'Savings Institutions',
       'Toys, Sporting Goods', 'Mining, Crude-Oil Production',
       'zMiscellaneous', 'Marine services', 'Textiles', 'Securities',
       'Semiconductors', 'Computer Software', 'Computer Peripherals',
       'Network Communications', 'Transportation Equipment',
       'Advertising, marketing', 'Diversified Outsourcing Services',
       'Furniture', 'Medical Products and Equipment', 'Energy',
       'Aerospace and Defense',
       'Network and Other Communications Equipment',
       'Wholesalers: Health Care',
       'Semiconductors and Other Electronic Components',
       'Wholesalers: Electronics and Office Equipment',
       'Food Consumer Products', 'Wholesalers: Food and Grocery',
       'Food Production', 'Wholesalers: Diversified',
       'Trucking, Truck Leasing', 'Household and Personal Products',
       'Oil and Gas Equipment, Services', 'Packaging, Containers',
       'Home Equipment, Furnishings', 'Homebuilders', 'Real estate',
       'Transportation and Logistics', 'Payroll Services',
       'Health Care: Insurance and Managed Care',
       'Health Care: Pharmacy and Other Services',
       'Health Care: Medical Facilities',
       'Information Technology Services', 'Financial Data Services',
       'Internet Services and Retailing',
       'Construction and Farm Machinery', 'Industrial Machinery',
       'Education', 'Specialty Retailers: Other',
       'Specialty Retailers: Apparel', 'Miscellaneous',
       'Insurance: Life, Health (Stock)',
       'Electronics, Electrical Equipment',
       'Scientific, Photographic and Control Equipment',
       'Advertising, Marketing', 'Real Estate', 'Equipment Leasing',
       'Motor Vehicles & Parts', 'Food & Drug Stores',
       'Aerospace & Defense', 'Engineering & Construction'], dtype=object)

In [11]:
revenue_500_df["Sector"].unique()

array([nan, 'Retailing', 'Energy', 'Financials', 'Technology',
       'Motor Vehicles & Parts', 'Food & Drug Stores', 'Wholesalers',
       'Telecommunications', 'Health Care', 'Aerospace & Defense',
       'Household Products', 'Food, Beverages & Tobacco',
       'Transportation', 'Chemicals', 'Industrials', 'Media', 'Apparel',
       'Hotels, Resturants & Leisure', 'Materials',
       'Engineering & Construction', 'Business Services',
       'Food and Drug Stores', 'Hotels, Restaurants & Leisure'],
      dtype=object)

In [12]:
#revenue_500_df.to_csv("C:/Users/tyler/School/Project 3/project_3/Resources/revenue_500.csv", index=False)

In [13]:
unique_sector = revenue_500_df["Sector"].unique()
unique_sector_df = pd.DataFrame(unique_sector)
unique_sector_df

                                0
0                             NaN
1                       Retailing
2                          Energy
3                      Financials
4                      Technology
5          Motor Vehicles & Parts
6              Food & Drug Stores
7                     Wholesalers
8              Telecommunications
9                     Health Care
10            Aerospace & Defense
11             Household Products
12      Food, Beverages & Tobacco
13                 Transportation
14                      Chemicals
15                    Industrials
16                          Media
17                        Apparel
18   Hotels, Resturants & Leisure
19                      Materials
20     Engineering & Construction
21              Business Services
22           Food and Drug Stores
23  Hotels, Restaurants & Leisure

In [20]:
update_food_drug = revenue_500_df.loc[revenue_500_df["Sector"] == "Food and Drug Stores"]
update_food_drug

,Name,Rank,Industry,Revenues,Year,Sector
9946,CVS Health,7,Food and Drug Stores,NaN,2016,Food and Drug Stores
9956,Kroger,17,Food and Drug Stores,NaN,2016,Food and Drug Stores
9958,Walgreens Boots Alliance,19,Food and Drug Stores,NaN,2016,Food and Drug Stores
10026,Publix Super Markets,87,Food and Drug Stores,NaN,2016,Food and Drug Stores
10046,Rite Aid,107,Food and Drug Stores,NaN,2016,Food and Drug Stores
10099,Supervalu,160,Food and Drug Stores,NaN,2016,Food and Drug Stores
10120,Whole Foods Market,181,Food and Drug Stores,NaN,2016,Food and Drug Stores

In [21]:
#update the food and drug to one standard
#revenue_500_df.replace("Food and Drug Stores", "Food & Drug Stores", inplace = True)

C:\Users\tyler\AppData\Local\Temp\ipykernel_15924\2275211474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revenue_500_df.replace("Food and Drug Stores", "Food & Drug Stores", inplace = True)

In [23]:
#update the hotel and restaurants to one standard
#revenue_500_df.replace("Hotels, Resturants & Leisure", "Hotels, Restaurants & Leisure", inplace = True)

C:\Users\tyler\AppData\Local\Temp\ipykernel_15924\3289639054.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revenue_500_df.replace("Hotels, Resturants & Leisure", "Hotels, Restaurants & Leisure", inplace = True)

In [29]:
#update the food, drug, tobacco to one standard
#revenue_500_df.replace("Food & Drug Stores", "Food, Beverages & Tobacco", inplace = True)

C:\Users\tyler\AppData\Local\Temp\ipykernel_15924\2346437064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  revenue_500_df.replace("Food & Drug Stores", "Food, Beverages & Tobacco", inplace = True)

In [30]:
unique_sector = revenue_500_df["Sector"].unique()
unique_sector_df = pd.DataFrame(unique_sector)
unique_sector_df

                                0
0                             NaN
1                       Retailing
2                          Energy
3                      Financials
4                      Technology
5          Motor Vehicles & Parts
6       Food, Beverages & Tobacco
7                     Wholesalers
8              Telecommunications
9                     Health Care
10            Aerospace & Defense
11             Household Products
12                 Transportation
13                      Chemicals
14                    Industrials
15                          Media
16                        Apparel
17  Hotels, Restaurants & Leisure
18                      Materials
19     Engineering & Construction
20              Business Services

In [15]:
#upload to laptop
#unique_sector_df.to_csv("C:/Users/tyler/School/Project 3/project_3/Resources/unique_sectors.csv", index=False)

In [31]:
revenue_500_df.tail(50)

,Name,Rank,Industry,Revenues,Year,Sector
13890,Boise Cascade,451,Wholesalers: Diversified,NaN,2023,Wholesalers
13891,Booz Allen Hamilton Holding,452,Information Technology Services,NaN,2023,Technology
13892,Westinghouse Air Brake Technologies,453,Industrial Machinery,NaN,2023,Industrials
13893,ON Semiconductor,454,Semiconductors and Other Electronic Components,NaN,2023,Technology
13894,Oshkosh,455,Construction and Farm Machinery,NaN,2023,Industrials
13895,Franklin Resources,456,Securities,NaN,2023,Financials
13896,Taylor Morrison Home,457,Homebuilders,NaN,2023,Engineering & Construction
13897,A-Mark Precious Metals,458,Wholesalers: Diversified,NaN,2023,Wholesalers
13898,KeyCorp,459,Commercial Banks,NaN,2023,Financials
13899,ARKO,460,Specialty Retailers: Other,NaN,2023,Retailing
13900,Lululemon athletica,461,Specialty Retailers: Apparel,NaN,2023,Retailing
13901,Old Republic International,462,Insurance: Property and Casualty (Stock),NaN,2023,Financials
13902,Zoetis,463,Pharmaceuticals,NaN,2023,Health Care
13903,Marathon Oil,464,"Mining, Crude-Oil Production",NaN,2023,Energy
13904,J.M. Smucker,465,Food Consumer Products,NaN,2023,"Food, Beverages & Tobacco"
13905,Huntington Bancshares,466,Commercial Banks,NaN,2023,Financials
13906,NGL Energy Partners,467,Pipelines,NaN,2023,Energy
13907,Ingredion,468,Food Production,NaN,2023,"Food, Beverages & Tobacco"
13908,Fortune Brands Innovations,469,"Building Materials, Glass",NaN,2023,Materials
13909,PPL,470,Utilities: Gas and Electric,NaN,2023,Energy
13910,Sanmina,471,Semiconductors and Other Electronic Components,NaN,2023,Technology
13911,Bed Bath & Beyond,472,Specialty Retailers: Other,NaN,2023,Retailing
13912,Cintas,473,Diversified Outsourcing Services,NaN,2023,Business Services
13913,NCR,474,"Computers, Office Equipment",NaN,2023,Technology
13914,ABM Industries,475,Diversified Outsourcing Services,NaN,2023,Business Services
13915,Rockwell Automation,476,"Electronics, Electrical Equip.",NaN,2023,Industrials
13916,Northern Trust,477,Commercial Banks,NaN,2023,Financials
13917,XPO,478,Transportation and Logistics,NaN,2023,Transportation
13918,Science Applications International,479,Information Technology Services,NaN,2023,Technology
13919,Ameren,480,Utilities: Gas and Electric,NaN,2023,Energy
13920,First American Financial,481,Insurance: Property and Casualty (Stock),NaN,2023,Financials
13921,Bath & Body Works,482,Specialty Retailers: Other,NaN,2023,Retailing
13922,Regions Financial,483,Commercial Banks,NaN,2023,Financials
13923,Activision Blizzard,484,Entertainment,NaN,2023,Media
13924,Avantor,485,"Scientific, Photographic and Control Equipment",NaN,2023,Technology
13925,Genworth Financial,486,"Insurance: Life, Health (stock)",NaN,2023,Financials
13926,EQT,487,Energy,NaN,2023,Energy
13927,Skechers U.S.A.,488,Apparel,NaN,2023,Apparel
13928,Landstar System,489,"Trucking, Truck Leasing",NaN,2023,Transportation
13929,Knight-Swift Transportation Holdings,490,"Trucking, Truck Leasing",NaN,2023,Transportation
13930,SVB Financial Group,491,Commercial Banks,NaN,2023,Financials
13931,Par Pacific Holdings,492,Petroleum Refining,NaN,2023,Energy
13932,Albemarle,493,Chemicals,NaN,2023,Chemicals
13933,Vulcan Materials,494,"Building Materials, Glass",NaN,2023,Materials
13934,Watsco,495,Wholesalers: Diversified,NaN,2023,Wholesalers
13935,KKR,496,Securities,NaN,2023,Financials
13936,Equinix,497,Real estate,NaN,2023,Financials
13937,Sonoco Products,498,"Packaging, Containers",NaN,2023,Materials
13938,ServiceNow,499,Computer Software,NaN,2023,Technology
13939,Robert Half International,500,Temporary Help,NaN,2023,Business Services