In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import re
pd.set_option('max_colwidth', 400)

In [3]:
# Read the data into a Pandas DataFrame
fortune500_df = pd.read_csv('./Resources/kaggle-fortune500-1996-2023.csv')
pd.set_option('display.max_columns',55)
fortune500_df .head()

C:\Users\tyson\AppData\Local\Temp\ipykernel_22808\261098729.py:2: DtypeWarning: Columns (7,9,10,11,12,13,14,15,16,17,18,19,20,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,47,48,49,50,51,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  fortune500_df = pd.read_csv('./Resources/kaggle-fortune500-1996-2023.csv')

,Name,Rank,Industry,Headquarters State,Revenues,year,Headquarters City,Revenue Percent Change,Profits,Profits Percent Change,Assets,Total Shareholder Equity,"Market Value (on March 29, 2013)",Profit Percent Sales,Profit Percent Assets,Profit Percent Shareholder Equity,Total Assets,"Market Value (on March 31, 2014)",Sales,Stockholders' Equity,Profit as a % of Sales,Profit as a % of Assets,Profit as a % of Shareholder Equity,Gained in Rank,Dropped in Rank,Newcomer,Profitable,Founder is CEO,Foreign Born CEO,Female CEO,Growth in Jobs,Sector,Revenues ($M),Profits ($M),Assets ($M),Employees,"Market Value (as of March 31, 2015)",Newcomer to the Fortune 500,Global 500,Best Companies,World's Most Admired Companies,Change the World,Fastest Growing Companies,"Market Value — as of March 31, 2016 ($M)","Market Value — as of March 31, 2017 ($M)",Change in Rank (Full 1000),Change in Rank (500 only),"Market Value — as of March 29, 2018 ($M)","Market Value — as of March 29, 2019 ($M)","Market Value — as of March 31, 2020 ($M)",Measure Up,"Market Value — as of March 31, 2021 ($M)",Measure Up Rank,"Market Value — as of March 31, 2022 ($M)","Market Value — as of March 31, 2023 ($M)"
0,General Motors Corporation,1,Motor Vehicles and Parts,MI,"16,882,860",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ford Motor Company,2,Motor Vehicles and Parts,MI,"13,713,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Exxon Corporation,3,Petroleum Refining,TX,"11,000,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wal-Mart Stores, Inc.",4,General Merchandisers,AR,"9,362,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T Corp.,5,Telecommunications,NY,"7,960,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Display columns
fortune500_df.columns

Index(['Name', 'Rank', 'Industry', 'Headquarters State', 'Revenues', 'year',
       'Headquarters City', 'Revenue Percent Change', 'Profits',
       'Profits Percent Change', 'Assets', 'Total Shareholder Equity',
       'Market Value (on March 29, 2013)', 'Profit Percent Sales',
       'Profit Percent Assets', 'Profit Percent Shareholder Equity',
       'Total Assets', 'Market Value (on March 31, 2014)', 'Sales',
       'Stockholders' Equity', 'Profit as a % of Sales',
       'Profit as a % of Assets', 'Profit as a % of Shareholder Equity',
       'Gained in Rank', 'Dropped in Rank', 'Newcomer', 'Profitable',
       'Founder is CEO', 'Foreign Born CEO', 'Female CEO', 'Growth in Jobs',
       'Sector', 'Revenues ($M)', 'Profits ($M)', 'Assets ($M)', 'Employees',
       'Market Value (as of March 31, 2015)', 'Newcomer to the Fortune 500',
       'Global 500', 'Best Companies', 'World's Most Admired Companies',
       'Change the World', 'Fastest Growing Companies',
       'Market Value — as of March 31, 2016 ($M)',
       'Market Value — as of March 31, 2017 ($M)',
       'Change in Rank (Full 1000)', 'Change in Rank (500 only)',
       'Market Value — as of March 29, 2018 ($M)',
       'Market Value — as of March 29, 2019 ($M)',
       'Market Value — as of March 31, 2020 ($M)', 'Measure Up',
       'Market Value — as of March 31, 2021 ($M)', 'Measure Up Rank',
       'Market Value — as of March 31, 2022 ($M)',
       'Market Value — as of March 31, 2023 ($M)'],
      dtype='object')

In [5]:
# Filter the DF
filtered_df = fortune500_df[['Name', 'Rank', 'Industry', 'Headquarters State', 'Revenues', 'year',
       'Headquarters City', 'Revenue Percent Change', 'Profits',
       'Profits Percent Change','Profit Percent Sales','Sales','Profit as a % of Sales','Gained in Rank', 
       'Dropped in Rank', 'Newcomer', 'Profitable','Growth in Jobs',
       'Sector', 'Revenues ($M)', 'Profits ($M)','Employees', 
       'Global 500','Change in Rank (Full 1000)','Change in Rank (500 only)']]

filtered_df

,Name,Rank,Industry,Headquarters State,Revenues,year,Headquarters City,Revenue Percent Change,Profits,Profits Percent Change,Profit Percent Sales,Sales,Profit as a % of Sales,Gained in Rank,Dropped in Rank,Newcomer,Profitable,Growth in Jobs,Sector,Revenues ($M),Profits ($M),Employees,Global 500,Change in Rank (Full 1000),Change in Rank (500 only)
0,General Motors Corporation,1,Motor Vehicles and Parts,MI,"16,882,860",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ford Motor Company,2,Motor Vehicles and Parts,MI,"13,713,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Exxon Corporation,3,Petroleum Refining,TX,"11,000,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wal-Mart Stores, Inc.",4,General Merchandisers,AR,"9,362,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T Corp.,5,Telecommunications,NY,"7,960,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27875,TTEC Holdings,996,Information Technology Services,CO,NaN,2023,Englewood,7.5%,NaN,-26.8%,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Technology,"$2,444",$103,"69,400",no,-33.0,NaN
27876,ProFrac Holding,997,"Oil and Gas Equipment, Services",TX,NaN,2023,Willow Park,215.7%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Energy,"$2,426",$92,"3,664",no,NaN,NaN
27877,Summit Materials,998,"Building Materials, Glass",CO,NaN,2023,Denver,0.1%,NaN,78.8%,NaN,NaN,NaN,NaN,NaN,NaN,yes,no,Materials,"$2,413",$272,"4,800",no,-61.0,NaN
27878,Teladoc Health,999,Health Care: Pharmacy and Other Services,NY,NaN,2023,Purchase,18.4%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,yes,Health Care,"$2,407","$-13,660","5,208",no,NaN,NaN
27879,Alliance Resource Partners,1000,"Mining, Crude-Oil Production",OK,NaN,2023,Tulsa,53.3%,NaN,224%,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Energy,"$2,407",$577,"3,371",no,NaN,NaN

In [6]:
# Rename the columns to keep the convention consistent
col_rename_df = filtered_df.rename(columns = { 'Headquarters State':'Headquarters_State','year':'Year',
       'Headquarters City':'Headquarters_City','Revenue Percent Change':'Revenue_Percent_Change',
       'Profits Percent Change':'Profits_Percent_Change','Profit Percent Sales':'Profit_Percent_Sales','Profit as a % of Sales':'Profit_as_a_%_of_Sales','Gained in Rank':'Gained_in_Rank', 
       'Dropped in Rank':'Dropped_in_Rank','Growth in Jobs':'Growth_in_Jobs',
       'Revenues ($M)':'Revenues_($M)', 'Profits ($M)':'Profits_($M)',
       'Global 500':'Global_500','Change in Rank (Full 1000)':'Change_in_Rank_(Full 1000)','Change in Rank (500 only)':'Change_in_Rank_(500 only)'})

col_rename_df

,Name,Rank,Industry,Headquarters_State,Revenues,Year,Headquarters_City,Revenue_Percent_Change,Profits,Profits_Percent_Change,Profit_Percent_Sales,Sales,Profit_as_a_%_of_Sales,Gained_in_Rank,Dropped_in_Rank,Newcomer,Profitable,Growth_in_Jobs,Sector,Revenues_($M),Profits_($M),Employees,Global_500,Change_in_Rank_(Full 1000),Change_in_Rank_(500 only)
0,General Motors Corporation,1,Motor Vehicles and Parts,MI,"16,882,860",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ford Motor Company,2,Motor Vehicles and Parts,MI,"13,713,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Exxon Corporation,3,Petroleum Refining,TX,"11,000,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Wal-Mart Stores, Inc.",4,General Merchandisers,AR,"9,362,700",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T Corp.,5,Telecommunications,NY,"7,960,900",1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27875,TTEC Holdings,996,Information Technology Services,CO,NaN,2023,Englewood,7.5%,NaN,-26.8%,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Technology,"$2,444",$103,"69,400",no,-33.0,NaN
27876,ProFrac Holding,997,"Oil and Gas Equipment, Services",TX,NaN,2023,Willow Park,215.7%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Energy,"$2,426",$92,"3,664",no,NaN,NaN
27877,Summit Materials,998,"Building Materials, Glass",CO,NaN,2023,Denver,0.1%,NaN,78.8%,NaN,NaN,NaN,NaN,NaN,NaN,yes,no,Materials,"$2,413",$272,"4,800",no,-61.0,NaN
27878,Teladoc Health,999,Health Care: Pharmacy and Other Services,NY,NaN,2023,Purchase,18.4%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,no,yes,Health Care,"$2,407","$-13,660","5,208",no,NaN,NaN
27879,Alliance Resource Partners,1000,"Mining, Crude-Oil Production",OK,NaN,2023,Tulsa,53.3%,NaN,224%,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,Energy,"$2,407",$577,"3,371",no,NaN,NaN

In [7]:
# Check the data types of the renamed columns
col_rename_df.dtypes

Name                           object
Rank                            int64
Industry                       object
Headquarters_State             object
Revenues                       object
Year                            int64
Headquarters_City              object
Revenue_Percent_Change         object
Profits                       float64
Profits_Percent_Change         object
Profit_Percent_Sales           object
Sales                          object
Profit_as_a_%_of_Sales         object
Gained_in_Rank                 object
Dropped_in_Rank                object
Newcomer                       object
Profitable                     object
Growth_in_Jobs                 object
Sector                         object
Revenues_($M)                  object
Profits_($M)                   object
Employees                      object
Global_500                     object
Change_in_Rank_(Full 1000)    float64
Change_in_Rank_(500 only)     float64
dtype: object

In [ ]:
# Change the relevant data types
dtyp_convert_dict = {'Profits_Percent_Change  ':'float64','Industry': String,'Headquarters_State' :String
,'ls':'int64','month':'int64','min_temp':float,'pressure':float}